@media only screen and (max-width:1158px){
    .price__cards{

    } 
}
@media only screen and (max-width :1072px) {
    .card:last-child {
        display: none;
    }
}
@media only screen and (max-width :809px) {
    .card:last-child {
        display: none;
    }
    .card:nth-child(3n){
        display: none;
    }
}
@media only screen and (max-width :549px) {
    .card:last-child {
        display: none;
    }
    .card:nth-child(3n){
        display: none;
    }
    .card:nth-child(2n){
        display: none;
    }
}